/* navbar */
.image{
    width: 15%;
}
.image-2{
    width: 15%;
    margin-left: auto;
}
#items:hover{
    color: rgb(196, 8, 8);
    border-bottom: 2px solid rgb(196, 8, 8);
    
}
.button{
    padding: 10px;
    background-color: rgb(196, 8, 8);
    border-radius: 10px;
    color: white;
    border: 2px solid rgb(196, 8, 8);
    font-weight: 600;
}

.button-2{
    padding: 10px;
    margin-left: 45%;
    background-color: rgb(196, 8, 8);
    border-radius: 10px;
    color: white;
    border: 2px solid rgb(196, 8, 8);
    font-weight: 600;
}
/* Main Section*/
.title{
    font-family: 'Josefin Sans', sans-serif;
    width: 50%;
    margin: auto;
    border-bottom: 3px solid rgb(196, 8, 8);
    border-width: 50%;
    font-weight: 700;
}

.paragraph{
    font-family: 'Roboto', sans-serif;
    display: flex;
}

.para{
    margin-top: 3%;
    margin-left: 10%;
    width: 50%;
    text-align: justify;
}
.paragraph img{
    width: 30%;
    margin-left: 8%;
}


/* Mobile Responsive  */

@media (max-width: 768px){
    .paragraph{
        display: flex;
        flex-direction: column;
    }
    .title{
        width: 80%;
        font-size: 30px;
        text-align: center;
    }
    .para{
        width: 90%;
        margin:20px auto;
    }
    .paragraph img{
        width: auto;
    }
    .button-2{
        margin-left: 36%;
    }
    .image{
        width: 30%;
    }
    .image-2{
        width: 30%;
    }
    .sponsor-title{
        width: 100%;
        font-size: 20px;
        text-align: center;
    }
    #items{
        display: flex;
        flex-direction: column;
        margin-left: 35%;
        width: 100%;
    }
    .logo{
        width: 100%;
    }
}

/* sponsor Section  */

.sponsor-title{
    font-family: 'Josefin Sans', sans-serif;
    width: 23%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid rgb(196, 8, 8);
    border-width: 50%;
    font-weight: 700;
}
#logos{
    margin-top: 5%;
    margin-bottom: 5%;
}
.logo:hover{
    transform: scale(1.1);
    transition: 0.5s ease-out;
}
.logo2:hover{
    transform: scale(1.1);
    transition: 0.5s ease-out;
}
.logo3:hover{
    transform: scale(1.1);
    transition: 0.5s ease-out;
}
.logo{
    width: 70%;
}
.logo2{
    width: 70%;
}
.logo3{
    width: 80%;
}
/* Footer Section  */

.footer{
    text-align: center;
    background-color: rgb(196, 8, 8);
    padding: 50px;
    color: white;
    font-weight: 600;
}

