/* navbar */
.image{
    width: 15%;
}
.image-2{
    width: 15%;
    margin-left: auto;
}
#items:hover{
    color: rgb(196, 8, 8);
   
    
}
.reg-button{
    padding: 10px;
    background-color: rgb(196, 8, 8);
    border-radius: 10px;
    color: white;
    border: 2px solid rgb(196, 8, 8);
    font-weight: 600;
    transition: all 0.5s ease;
}
.reg-button:hover{
    color: red;
    background-color: antiquewhite;
    border: 2px solid antiquewhite;
}
.login-button{
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(53, 69, 190);
    border-radius: 10px;
    color: white;
    border: 2px solid rgb(53, 69, 190);
    font-weight: 600;
    transition: all 0.5s ease;
}
.login-button:hover{
    color: rgb(53, 69, 190);
    background-color: antiquewhite;
    border: 2px solid antiquewhite;
}

.button-2{
    padding: 10px;
    margin-left: 45%;
    background-color: rgb(196, 8, 8);
    border-radius: 10px;
    color: white;
    border: 2px solid rgb(196, 8, 8);
    font-weight: 600;
    transition: all 0.5s ease;
}
.button-2:hover{
    color: red;
    background-color: antiquewhite;
    border: 2px solid antiquewhite;
}
/* Main Section*/
.title{
    font-family: 'Josefin Sans', sans-serif;
    width: 50%;
    margin: auto;
    border-bottom: 3px solid rgb(196, 8, 8);
    border-width: 50%;
    font-weight: 700;
}

.paragraph{
    font-family: 'Roboto', sans-serif;
    display: flex;
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-size: 9%;
    background-position: left;
}

.para{
    margin-top: 3%;
    margin-left: 10%;
    width: 50%;
    text-align: justify;
}
.paragraph img{
    width: 30%;
    margin-left: 8%;
    transition: all 0.5s ease;
}
.paragraph img:hover{
    transform: scale(1.1);
}


/* Mobile Responsive  */

@media (max-width: 768px){
    .paragraph{
        display: flex;
        flex-direction: column;
        background-position: top left;
    }
    .title{
        width: 80%;
        font-size: 30px;
        text-align: center;
    }
    .para{
        width: 90%;
        margin:20px auto;
    }
    .paragraph img{
        width: auto;
    }
    .button-2{
        margin-left: 36%;
    }
    .image{
        width: 30%;
    }
    .image-2{
        width: 30%;
    }
    .sponsor-title{
        width: 100%;
        font-size: 20px;
        text-align: center;
    }
}

/* sponsor Section  */

.sponsor-title{
    font-family: 'Josefin Sans', sans-serif;
    width: 23%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid rgb(196, 8, 8);
    border-width: 50%;
    font-weight: 700;
}
#logos{
    margin-top: 5%;
    margin-bottom: 5%;
}
.logo:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}
.logo2:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}
.logo3:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
}
.logo4:hover{
    transform: scale(1.1);
}
.logo{
    width: 70%;
    transition: all 0.5s ease;
}
.logo2{
    width: 65%;
    transition: all 0.5s ease;
}
.logo3{
    width: 100%;
    transition: all 0.5s ease;
}
.logo4{
    width: 60%;
    margin-top: 10%;
    transition: all 0.5s ease;
}
/* Footer Section  */

.footer{
    margin-top: 5%;
    text-align: center;
    background-color: rgb(196, 8, 8);
    padding: 50px;
    color: white;
    font-weight: 600;
}

